{% extends 'Coffee_Webapp/framework/base.html' %}
{% load static %}
<head>
    <title>{% block title %}Login{% endblock %}</title>

    {#  https://mdbootstrap.com/docs/jquery/components/cards/    for some login betterness #}


</head>
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

    <body>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin" style="margin-top: 6rem">
                <div class="card-body">
                    <img class="card-img-top" src="#" alt="Card image">
                    <h5 class="card-title text-center">LOGIN</h5>
                    {#                    TODO add post method for server login credentials #}
                    <form class="form-signin" role="form" autocomplete="off" id="loginForm">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                   required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control"
                                   placeholder="Password"
                                   required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <div>
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <div>
                                <a class="password-reset-link" href="#">Forgot Password?</a>
                            </div>

                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit"
                                id="btnLogin"
                        >Login
                        </button>
                        <hr class="my-4">
                        <button class="btn btn-md btn-primary btn-block text-uppercase"
                                type="submit"
                                onclick="location.href='{% url 'Coffee_Webapp:Register' %}'"
                        >Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>


    <!--- Styles & JS --->

{% endblock %}